
.panel {
    position: fixed;
    right: -15.625em; 
    width: 15.625em;
}

body.index {
    background: url(../img/deskbw.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

body {
    height: 100%;
    font-family: "proxima-nova", sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
}

.index .home-container img {
    width: 30%;
    margin: 19% 0 0 25%;
}


/*.bg-overlay {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/02.png");
    background-width: 100vw;
    background-height: 100vh;
    overflow: hidden;
    opacity: .1;
    position: relative;
    z-index: -10;
    margin-top: -.5em;

}*/



.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.panel {
    background: #98999a;
}

.panel a {
    color: #fff;
}

nav ul {
    list-style: none;
    margin-top: 5em;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: uppercase;
    font-size: .75em;
}

nav a:hover {
    color: #98999a;
}


.home-container {
    margin-top: -32em;
    position: relative;
    text-align: center;
    color: white;
}

.home-container h1 {
    text-transform: uppercase;
    font-size: 5em;
    text-shadow: .5px .5px 2px rgba(0, 0, 0, .2);
}

.home-container h2 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
    margin: -1.75em 0 2em 0;
    text-shadow: .5px .5px 2px rgba(0, 0, 0, .2);

}

.home-container a {
    text-transform: uppercase;
    border: 1px solid white;
    padding: .5em 3em;
    text-decoration: none;
    color: white;
    text-shadow: .5px .5px 2px rgba(0, 0, 0, .2);
}

.home-container a:hover {
    background: white;
    color: black;
    text-shadow: 0 0 0 rgba(0, 0, 0, .2);
}

a.menu-link {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 2em 2em 0 0;

}

.menu-link img {
    height: 1.5em;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: .5em 0 0 1em;
    text-shadow: .5px .5px 2px rgba(0, 0, 0, .2);
}

/* about */

/*body.about {
    background: url(../img/900x400.gif);
    background-color: #e3e4e5;
    background-repeat: no-repeat;
    background-size: 50% 100vh;
    background-position: fixed;
}*/

.no-scroll {
  overflow: hidden;
}

.section_img {
    width: 40%;
    float: left;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -99;
}

.section_img img {
    width: 100%;
    overflow: hidden;
}

.aboutme-container {
    display: block;
    width: 55%;
    float: right;
    background: rgba(255,255,255,.7);
    margin: -5% 0 5% 0;
    padding-left: 5%;
    position: relative;
}

.aboutme-container h1,
.aboutme-container h2 {
    text-transform: uppercase;
    text-align: left;
    color: #444444;
}

.aboutme-container h1 {
    margin-top: 20%;
    font-size: 2.5em;
    margin-bottom: 0;

}

.aboutme-container h2 {
    font-weight: 400;
    font-size: 2em;
    margin: 0 0 2% 0;
}

.aboutme-container h3 {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0;
}

.aboutme {
    text-align: left;
    padding-bottom: .5em;
    font-family: 'Tinos', serif;
    font-style: italic;
    margin-bottom: 10%;
}


.details p {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Tinos', serif;
    font-style: italic;
    margin-bottom: 5%;
}


.section_img {
    width: 40%;
    float: left;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -99;
}

.section_img img {
    width: 100%;
    overflow: hidden;
}

.contact-container {
    display: block;
    width: 55%;
    height: 105vh;
    float: right;
    background: rgba(255,255,255,.7);
    margin-top: -5%;
    padding-left: 5%;
    position: relative;
}

.contact-container h1,
.contact-container h2 {
    text-transform: uppercase;
    text-align: left;
    color: #444444;
}

.contact-container h1 {
    margin-top: 20%;
    font-size: 2.5em;
    margin-bottom: 0;

}

.contact-container h2 {
    font-weight: 400;
    font-size: 2em;
    margin: 0 0 2% 0;
}

.contact-container h3 {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0;
}

.aboutme {
    text-align: left;
    padding-bottom: .5em;
    font-family: 'Tinos', serif;
    font-style: italic;
    margin-bottom: 10%;
}


.details p {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Tinos', serif;
    font-style: italic;
    margin-bottom: 5%;
}

.socialmedia {
    width: 100%;
    margin: -11% 0 0 -6.5%;
    float: left;

}

.socialmedia li {
    display: inline-block;

}

.socialmedia img {
    width: 3em;
}

.socialmedia a:hover {
    opacity: .7;
}



/* portfolio */

body.portfolio {
    background: #fff;
    color: #101820;
    line-height: 1.5;
}

.portfolio .header {
    color: #444444;
    text-shadow: none;
}

.portfolio-container {
    display: inline-block;
    width: 25%;
    float: left;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 5% 0 0 5%;
    z-index: -99;
}

.portfolio-container h1 {
    text-transform: uppercase;
    color: #444444;
    font-size: 2.5em;
}

.portfolio-container ul {
    list-style: none;
}

.portfolio-container a {
    text-decoration: none;
    color: #000;
}

.projectnav {
    margin: 0;
}

.gallery {
    background: rgba(255,255,255,.7);
    float: right;
    width: 80%;
    margin: -2% -13.2% 0 0;
    padding-left: 2%;
    position: relative;
    z-index: -80;
}

.gallery li {
    list-style: none;
    position: relative;
    -webkit-filter: brightness(.8);
    margin-top: -1em;
}

.gallery li:hover {
    -webkit-filter: brightness(1);
}

.gallery img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.gallery li a {
    text-decoration: none;
    color: #000;

}

.title {
    width: 100%;
    padding-top: 13%;
    position: absolute;
    top: 0;
    text-align: center;
    cursor: pointer;

}

.title h4,
.title h5 {
    text-align: center;
}

.title h4 {
    font-size: 2em;
    margin: 0;
}

.title h5 {
    margin: 0;
    font-size: 1.25em;
}















/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}
